[submodule "Externals/ASIHTTPRequest"]
	path = Externals/ASIHTTPRequest
	url = https://github.com/pokeb/asi-http-request.git
[submodule "Externals/scifihifi-iphone"]
	path = Externals/scifihifi-iphone
	url = https://github.com/ldandersen/scifihifi-iphone.git
[submodule "Externals/XML-to-NSDictionary"]
	path = Externals/XML-to-NSDictionary
	url = https://github.com/notjosh/XML-to-NSDictionary.git
[submodule "Externals/MBProgressHUD"]
	path = Externals/MBProgressHUD
	url = https://github.com/matej/MBProgressHUD.git
[submodule "Externals/TouchJSON"]
	path = Externals/TouchJSON
	url = https://github.com/TouchCode/TouchJSON.git
[submodule "Externals/MWPhotoBrowser"]
	path = Externals/MWPhotoBrowser
	url = https://github.com/mwaterfall/MWPhotoBrowser.git
[submodule "Externals/NYXImagesUtilities"]
	path = Externals/NYXImagesUtilities
	url = https://github.com/Nyx0uf/NYXImagesUtilities.git
